.nav_colour{
    background-color: rgb(0, 97, 47);
    color: white;
    outline: 1px solid white;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.top_row{
    background-color: rgb(0, 97, 47);
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    border-bottom: 1px solid white;
}
.navbar-toggler-icon
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
