.nav_colour{
    background-color: rgb(0, 97, 47);
    color: white;
    padding-top: 0;
    padding-bottom: 0;
}

/* sets the outlines to none */
.outline_desktop{
    outline: none;
}

/* when the screen is wider than 992 pixles (which is the point which the hamburger menu dissapears) set outline  */
@media (min-width: 992px){
    .outline_desktop{
        outline: 1px solid white;
    }
}

/* set the paddings to none */
.padding_desktop{
    padding-top: none;
    padding-bottom: none;
}

/* when the screen is thinner than 992 pixles (which is the point which the hamburger menu apears) set paddings  */
@media(max-width: 992px){
    .padding_desktop{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}


.top_row{
    background-color: rgb(0, 97, 47);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 45px;
    border-bottom: 1px solid white;
}

.main_button{
    font-size: 45px;
    outline: none;
    background-color: rgb(0, 97, 47);
    color: white;
}
.navbar-toggler-icon
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.icons{
    outline: none;
    background-color: rgb(0, 97, 47);
    width: 5vw;
    height: auto;
}